<form class="create-form" [formGroup]="apoderadoForm">
  <h2 mat-dialog-title>{{ inputData.title }}</h2>
  <mat-dialog-content class="mat-typography">

    <mat-card class="">
      <mat-card-content>
        <!-- <mat-form-field class="full-width">
          <mat-label>Correo Electronico</mat-label>
          <input type="email" matInput placeholder="Correo Electronico" formControlName="email">
        </mat-form-field> -->

        <mat-form-field class="full-width">
          <mat-label>Nombre Completo</mat-label>
          <input matInput placeholder="Ej. Juan Perez Perez" formControlName="nombres" type="text">
          <mat-icon matSuffix>mail</mat-icon>
          <mat-error *ngIf="form['nombres'].hasError('required') && form['nombres'].touched">
            El Nombre Completo es obligatorio.
          </mat-error>
          <mat-error *ngIf="form['nombres'].hasError('nombres') && form['nombres'].touched">
            El Nombre Completo de ser valido.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="inline">
          <mat-label>Carnet de Itendidad</mat-label>
          <input type="text" matInput placeholder="Ej. 52485748" formControlName="ci">
          <mat-icon matSuffix>person</mat-icon>

          <mat-error *ngIf="form['ci'].hasError('required') && form['ci'].touched">
            El Carnet de Itendidad es obligatorio.
          </mat-error>
          <mat-error *ngIf="form['ci'].hasError('minlength') && form['ci'].touched">
            El Carnet de Itendidad debe tener minimo 7 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="inline right">
          <mat-label>Expedido</mat-label>
          <mat-select formControlName="expedido">
            <mat-option *ngFor="let departamento of departamentos" [value]="departamento.value">
              {{ departamento.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="inline right">
          <mat-label>Parentesco</mat-label>
          <mat-select formControlName="parentesco">
            <mat-option *ngFor="let parentesco of parentescos" [value]="parentesco.value">
              {{ parentesco.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="inline">
          <mat-label>Direccion</mat-label>
          <input type="text" matInput placeholder="" formControlName="direccion">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <mat-form-field class="inline right">
          <mat-label>Celular</mat-label>
          <span matPrefix>+591 &nbsp;</span>
          <input type="number" matInput placeholder="72584525" formControlName="celular">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>



        <!-- <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput placeholder="Contraseña" formControlName="password">
          <mat-icon matSuffix>password</mat-icon>
          <mat-error *ngIf="form['password'].hasError('required') && form['password'].touched">
            La Contraseña es obligatoria.
          </mat-error>
          <mat-error *ngIf="form['password'].hasError('minlength') && form['password'].touched">
            La Contraseña debe tener minimo 6 caracteres.
          </mat-error>
        </mat-form-field> -->

      </mat-card-content>
    </mat-card>

  </mat-dialog-content>
  <!-- {{apoderadoForm.value | json}} -->
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button *ngIf="inputData.id != null && inputData.idApoderado == null" (click)="(saveApoderado())" mat-raised-button color="primary"
      [disabled]="apoderadoForm.invalid"><mat-icon>save</mat-icon>Registrar</button>


    <button (click)="editApoderado(inputData.idApoderado)" *ngIf="inputData.idApoderado != null && inputData.id != null" mat-raised-button color="primary"
      [disabled]="apoderadoForm.invalid"><mat-icon>save</mat-icon>Editar</button>

  </mat-dialog-actions>
</form>