<div class="row p-2">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Beneficiarios</mat-card-title>
        <mat-card-subtitle>End</mat-card-subtitle>
        <span class="spacer"></span>
        <mat-dialog-actions >
          <button mat-mini-fab matTooltip="Crear Nuevo" color="primary" aria-label="Example mini fab with a heart icon" (click)="createBeneficiary()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-dialog-actions>

      </mat-card-header>
      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Tabla</mat-label>
        <input matInput placeholder="Buscar" search (keyup)="applyFilter($event)" #termino>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-card-content>
      <div>
        <table mat-table matSort [dataSource]="dataSource">
          <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let row">{{ row._id }}</td>
          </ng-container>

          <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</th>
            <td mat-cell *matCellDef="let row">{{ row.nombres }}</td>
          </ng-container>

          <ng-container matColumnDef="ci">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Carnet de Identidad</th>
            <td mat-cell *matCellDef="let row">{{ row.ci }} - {{row.expedido}}</td>
          </ng-container>

          <ng-container matColumnDef="sexo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sexo</th>
            <td mat-cell *matCellDef="let row">{{ row.sexo }}</td>
          </ng-container>

          <ng-container matColumnDef="fechaNacimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Nacimiento</th>
            <td mat-cell *matCellDef="let row">{{ row.fechaNacimiento | date : "longDate" : "UTC" }}</td>
          </ng-container>

          <ng-container matColumnDef="carnetFechaVencimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Vencimiento Carnet</th>
            <td mat-cell *matCellDef="let row">{{ row.carnetFechaVencimiento | date : "longDate" : "UTC" }}</td>
          </ng-container>


          <ng-container matColumnDef="celular">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Celular</th>
            <td mat-cell *matCellDef="let row">{{ row.celular }}</td>
          </ng-container>

          <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</th>
            <td mat-cell *matCellDef="let row">{{ row.direccion }}</td>
          </ng-container>

          <ng-container matColumnDef="tipoDiscapacidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de Discapacidad</th>
            <td mat-cell *matCellDef="let row">{{ row.tipoDiscapacidad }}</td>
          </ng-container>

          <ng-container matColumnDef="habilitado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
            <td mat-cell *matCellDef="let row">{{ row.habilitado }}</td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
            <td mat-cell *matCellDef="let row">
              <button (click)="addApoderado(row._id)" mat-icon-button matTooltip="Añadir Apoderado" aria-label="Example icon-button with a heart icon">
                <mat-icon>supervisor_account</mat-icon>
              </button>
              <button (click)="editBeneficiary(row._id)" mat-icon-button matTooltip="Editar" aria-label="Example icon-button with a heart icon">
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="deleteBeneficiary(row._id)" mat-icon-button matTooltip="Eliminar" aria-label="Example icon-button with a heart icon">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>

          <tr *matNoDataRow>
            <td class="mat-cell">"{{ termino.value }}" No existe</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10 ,25 , 50]" aria-label="Select Page of Users"></mat-paginator>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
