<div class="row p-2">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Lista de planillas</mat-card-title>
        <!-- <mat-card-subtitle>End</mat-card-subtitle> -->
        <span class="spacer"></span>
        <mat-dialog-actions *ngIf="user().roles === 'admin' || user().roles === 'presupuestos'">
          <button mat-mini-fab matTooltip="Crear Nuevo" color="primary" aria-label="Example mini fab with a heart icon"
            (click)="createNewPlanilla()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-dialog-actions>

      </mat-card-header>
      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Buscar...</mat-label>
        <input matInput placeholder="Buscar" search (keyup)="applyFilter($event)" #termino>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="container">
          <table mat-table matSort [dataSource]="dataSource">

            <ng-container matColumnDef="gestion" class="centered-header">
              <th  mat-header-cell *matHeaderCellDef mat-sort-header>Gestión</th>
              <td mat-cell *matCellDef="let row">{{ row.gestion }}</td>
            </ng-container>

            <ng-container matColumnDef="mes">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Mes</th>
              <td mat-cell *matCellDef="let row">{{row.mes}}</td>
            </ng-container>

            <ng-container matColumnDef="monto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto Recibido</th>
              <td mat-cell *matCellDef="let row">{{ row.montoTotal | currency : "USD" : "" }}</td>
            </ng-container>

            <ng-container matColumnDef="pagado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Pagado</th>
              <td mat-cell *matCellDef="let row">{{ row.totalPagado | currency : "USD" : "" }}</td>
            </ng-container>

            <ng-container matColumnDef="saldo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Saldo</th>
              <td mat-cell *matCellDef="let row">{{ (row.montoTotal - row.totalPagado) | currency : "USD" : "" }}</td>
            </ng-container>


            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
              <td mat-cell *matCellDef="let row">
                <button (click)="showList(row._id)" mat-icon-button matTooltip="Ver la"
                  aria-label="Example icon-button with a heart icon">
                  <mat-icon>list</mat-icon>
                </button>
                <button (click)="editBeneficiary(row._id)" mat-mini-fab color="accent" matTooltip="Editar"
                  aria-label="Example icon-button with a heart icon">
                  <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deleteBeneficiary(row._id)" mat-mini-fab color="warn" matTooltip="Eliminar"
                  aria-label="Example icon-button with a heart icon">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>

            <tr *matNoDataRow>
              <td class="mat-cell">"{{ termino.value }}" No existe</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10 ,25 , 50]" aria-label="Select Page of Users"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>