
    <canvas id="myChart">

    </canvas>

    <br>
    <br>    
    <div>



        <canvas id="pieChart2">
    
        </canvas>
        <div class="row">
            <div class="col">
                <b>Total Habilitados:</b> {{totalHabilitados}}
            </div>
            <div class="col">
                <b>Total Pagados:</b> {{totalPagado}}
            </div>
            <div class="col">
                <b>Total Por Pagar:</b> {{totalPorPagar}}
            </div>
        </div>
    </div>