
.cards{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

td, th{
  padding-left: 2px;
  border: 1px solid black;
  font-size: 0.6rem;
}

table {
  border: none;
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #999;
}

.espacio{
  margin-top: 90px;
}

.firma{
  font-size: 0.8rem;
}

@media print {
#parte1 {display:none;}
#parte2 {display:none;}
}
