<div class="row p-2">
  <div class="col-md-12">
    <mat-card>
      <mat-card-header *ngIf="planilla">
        <mat-card-title>Lista de habilitados mes de {{ planilla.mes | lowercase }} gestión {{ planilla.gestion
          }}</mat-card-title>
        <!-- <mat-card-subtitle>End</mat-card-subtitle> -->
        <span class="spacer"></span>


      </mat-card-header>
      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Buscar...</mat-label>
        <input matInput placeholder="Buscar" search (keyup)="applyFilter($event)" #termino>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div>
          <table mat-table matSort [dataSource]="dataSource">
            <ng-container matColumnDef="beneficiario">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Beneficiario</th>
              <td mat-cell *matCellDef="let row">{{row.beneficiario}}</td>
            </ng-container>

            <ng-container matColumnDef="ci">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>CI</th>
              <td mat-cell *matCellDef="let row">{{ row.ci }}</td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.estado == 'PENDIENTE'" class="badge bg-danger">{{row.estado}}</span>
                <span *ngIf="row.estado == 'PAGADO'" class="badge bg-success">{{row.estado}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="habilitado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Habilitado</th>
              <td mat-cell *matCellDef="let row">{{row.habilitado}}</td>
            </ng-container>


            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
              <td mat-cell *matCellDef="let row">
                @if (row.estadoPago != 'PAGADO') {

                  @if (row.id.fechaNacimiento) {
                    <ng-container>
                      <button (click)="addPago(row.id._id)" mat-mini-fab color="accent" matTooltip="Pagar"
                        aria-label="Example icon-button with a heart icon">
                        <mat-icon>payments</mat-icon>
                      </button>
                    </ng-container>
                  }@else {
                    <ng-container>
                      <button (click)="rellenarDatos()" mat-mini-fab color="warn" matTooltip="Registrar datos personales"
                        aria-label="Example icon-button with a heart icon">
                        <mat-icon>app_registration</mat-icon>
                      </button>
                    </ng-container>
                  }

                }


                <ng-container *ngIf="row.estadoPago == 'PAGADO'">
                  <button (click)="imprimir(row.id._id)" mat-icon-button matTooltip="Imprimir"
                    aria-label="Example icon-button with a heart icon">
                    <mat-icon>print</mat-icon>
                  </button>
                </ng-container>

                <!-- <button (click)="editBeneficiary(row._id)" mat-icon-button matTooltip="Editar" aria-label="Example icon-button with a heart icon">
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="deleteBeneficiary(row._id)" mat-icon-button matTooltip="Eliminar" aria-label="Example icon-button with a heart icon">
                <mat-icon>delete</mat-icon>
              </button> -->
              </td>

              <!-- <div *ngIf="row.estado; else userloggedOut">
              Hello User
            </div>
            <ng-template #userloggedOut>
              Hello User, Login
            </ng-template> -->
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>

            <tr *matNoDataRow>
              <td class="mat-cell">"{{ termino.value }}" No existe</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10 ,25 , 50]" aria-label="Select Page of Users"></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>