<form class="create-form" [formGroup]="pagoForm">
  <h2 mat-dialog-title>{{ inputData.title }}</h2>
  <mat-dialog-content class="mat-typography">

    <mat-card class="">
      <mat-card-content>
        <!-- <mat-form-field class="full-width">
          <mat-label>Correo Electronico</mat-label>
          <input type="email" matInput placeholder="Correo Electronico" formControlName="email">
        </mat-form-field> -->


        <mat-form-field class="full-width">
          <mat-label>Fecha de Pago</mat-label>
          <input matInput [matDatepicker]="fecha" formControlName="fecha">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="fecha"></mat-datepicker-toggle>
          <mat-datepicker #fecha></mat-datepicker>
          <mat-error *ngIf="form['fecha'].hasError('required') && form['fecha'].touched">
            La Fecha es Obligatoria
          </mat-error>
        </mat-form-field>


        <mat-form-field class="full-width">
          <mat-label>Monto</mat-label>
          <input type="number" matInput readonly placeholder="Monto" formControlName="monto">
          <mat-icon matSuffix>paid</mat-icon>
          <mat-error *ngIf="form['monto'].hasError('required') && form['monto'].touched">
            El Monto es Obligatorio
          </mat-error>
        </mat-form-field>


      </mat-card-content>
    </mat-card>

  </mat-dialog-content>
  <!-- {{pagoForm.value | json}} -->
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button (click)="(registerPago())"  mat-raised-button color="primary"
    [disabled]="isSubmitting"  ><mat-icon>save</mat-icon>{{ isSubmitting ? 'Procesando...' : 'Registrar Pago' }}</button>
  </mat-dialog-actions>
</form>