/*
.cards{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

td, th{
  padding-left: 2px;
  border: 1px solid black;
  font-size: 0.6rem;
}

table {
  border: none;
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #999;
}


@media print {
#parte1 {display:none;}
#parte2 {display:none;}
} */


.off-hr{
  margin: 0.2rem;
}

.fieldset-tabla {
  /* background-color: #f5f5f5;  */
  border-color: #292626 !important;
  border-width: 1px !important;
  padding: 0px !important;
}

.fieldset-tabla legend {
  font-size: 1rem; /* Cambiar el tamaño de la fuente de la leyenda */
  text-align: center;
  margin: 0px;
  color: #000 !important;
}
table{
  margin:0px;
}

table th{
  padding: 0px !important;
}

table td{
  padding: 4px !important;
}

.firma{
  width: 30%;
}

.mb-10{
  margin-bottom: 60px !important;
}

.mt-10{
  margin-top: 100px !important;
}

.mt-7{
  margin-top: 70px !important;
}

.text{
  font-size:0.9
  rem !important;
}



