<div class="container mt-2">
    <div class="row">
        <div class="col-md">
            <mat-card class="my-custom-card">
                <mat-card-header>
                    <mat-card-title my-custom-card-title>50</mat-card-title>
                    <mat-card-subtitle>Usuarios</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button style="width: 100%;" mat-button>Más información</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md">
            <mat-card class="my-custom-card">
                <mat-card-header>
                    <mat-card-title my-custom-card-title>50</mat-card-title>
                    <mat-card-subtitle>Tipos de Discapacidad</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button style="width: 100%;" mat-button>Más información</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md">
            <mat-card class="my-custom-card">
                <mat-card-header>
                    <mat-card-title my-custom-card-title>50</mat-card-title>
                    <mat-card-subtitle>Usuarios</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button style="width: 100%;" mat-button>Más información</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md">
            <mat-card class="my-custom-card">
                <mat-card-header>
                    <mat-card-title my-custom-card-title>50</mat-card-title>
                    <mat-card-subtitle>Usuarios</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button style="width: 100%;" mat-button>Más información</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md"></div>
    </div>
</div>